:root {
    --gold-color:#c4a35a;
    --navy-color: #3b4d61;
    --light-gray: #e5e5dc;
    --bg-black: #000000;
    --bg-black-50: #eff0f4;
    --bg-opacity: rgba(255,255,255,0.5);
    --bg-black-100: #dddddd;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px#f8f8f8;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0#f8f8f8;
} 

.outer-shadow {
    box-shadow: var( --outer-shadow);
}

.hover-in-shadow {
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover {
    box-shadow: var( --outer-shadow-0);
}

.hover-in-shadow:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    z-index: -1;
}

.hover-in-shadow:after {
    box-shadow: var(--inner-shadow);
}