@import "../../styles/color-1.css";
@import "../../styles/colors-2.css";

.contact-section {
  padding: 80px 0 80px;
  min-height: 100vh;
}

.contact-section.active {
  background-color: var(--black-50-dm);
}

.contact-section.active h3 {
  color: var(--black-900-dm);
}

.contact-header .contact-title {
  text-align: center;
  justify-content: center;
}

.contact-title h1 {
  color: var(--gold-color);
  top: 10%;
  font-size: 40px;
}

.contact-title h3 {
  top: 17%;
}
.contact-box {
  display: flex;
  justify-content: center;
    flex-wrap: wrap;
}

.contact-section .contact-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
  margin-top: 55px;
}

.contact-section .contact-item-inner {
  padding: 30px 15px;
  text-align: center;
  border-radius: 5px;
}

.contact-item-inner i {
  font-size: 25px;
  color: var(--gold-color);
}

.contact-item-inner span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-black-700);
  margin: 15px 0 10px;
}

.contact-item-inner p {
  font-size: 16px;
  color: var(--text-black-600);
  line-height: 26px;
  margin: 0;
  word-break: break-word;
}

.contact-form {
  flex:0 0 100%;
  max-width: 100%;
  margin-top: 50px;
}
 .w50 {
  position:relative;   
  padding:0 15px;
  flex:0 0 50%;
  max-width: 35%;
}

.input-group {
  margin:0 0 25px;
  transition: all 0.3s ease;
  border-radius: 30px;
  cursor: pointer;
}

.input-group .input-control {
  height: 45px;
  display: block;
  width: 100%;
  border-radius: 30px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 0 15px;
  color: var(--text-black-700);
}

.input-group:after {
  border-radius: 30px;
}

.input-group textarea.input-control {
    height: 184px;
    padding-top: 15px;
}

.submit-btn {
    flex:0 0 100%;
    max-width: 100%;
    text-align: right;
    margin-right: 550px;
    padding-right:0 15px;
}

.submit-btn button {
    border: none;
}

.psa {
  margin-top: 15px;
  text-align: center;
  color: var(--text-black-300);
}

@media (max-width: 768px) {
  .contact-section .contact-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 2px;
  }
  .contact-section .w50 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .contact-box .submit-btn {
    position: absolute;
    margin: 15px;
  }
}
@media (max-width: 428px) {
  .contact-box .submit-btn {
    position: absolute;
    margin: 5px;
  }
}