@import "../../styles/color-1.css";
@import "../../styles/colors-2.css";

.align-items-center {
  align-items: center;
}

.home-section {
  position: relative;
  background-color: var(--bg-black-50);
  transition: background-color 0.6s;
}
.home-section.active {
  position: relative;
  background-color: var(--black-50-dm);
}
.effect-wrap .effect {
  position: absolute;
  z-index: 1;
}
.effect-wrap-active .effect {
  position: absolute;
  z-index: 1;
}

.home-section .full-screen {
  padding: 50px 0;
  min-height: 100vh;
}

.home-section .home-text,
.home-section .home-img {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.home-section .home-text p {
  color: var(--text-black-300);
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
}
.home-section .home-text h2 {
  font-size: 55px;
  font-weight: 700;
  color: var(--text-black-900);
  margin: 0;
}
.home-section .home-text h1 {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-black-700);
  margin: 0;
  text-transform: capitalize;
}

.home-text.active p {
  color: var(--text-black-dm);
}
.home-text.active h2 {
  color: var(--text-black-dm);
}
.home-text.active span {
  color: var(--gold-color);
}

.home-section .home-img .imgBox {
  max-width: 450px;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 15px;
}

.home-section .home-img .imgBox img {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 450px;
  border-radius: 50%;
  border: 10px solid transparent;
}

.btn-1 {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: var(--gold-color);
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  display: inline-block;
}
.btn-1.active {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: var(--gold-color);
  background-color: var(--outer-shadow-dm);
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  display: inline-block;
}

.btn-1:after {
  border-radius: 30px;
}

.home-section .home-text .btn-1 {
  margin-top: 30px;
}

.effect-1 {
  width: 30px;
  height: 30px;
  border: 4px solid #90e0ff;
  right: 10%;
  bottom: 10%;
  animation: spin 10s linear infinite;
}

.effect-2 {
  left: 3%;
  bottom: 20%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: topBounce 3s ease-in-out infinite;
}

.effect-2 div {
  height: 3px;
  width: 3px;
  background-color: #ff3840;
  margin: 0 3px 8px;
  opacity: 0.5;
}

.effect-3 {
  height: 180px;
  width: 180px;
  border: 25px solid var(--navy-color);
  border-radius: 50%;
  left: 50%;
  top: -130px;
  animation: leftBounce 3s ease-in-out infinite;
}

.effect-4 {
  border-top: 30px solid transparent;
  border-left: 30px solid #992243;
  left: 30%;
  top: 20%;
  animation: spin 15s linear infinite;
}

.effect-4:before {
  content: "";
  border-top: 40px solid transparent;
  border-left: 40px solid #992243;
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}

.effect-5 {
  height: 50px;
  width: 50px;
  right: 10%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 10s linear infinite;
}

.effect-5 div {
  width: 1px;
  background-color: #33a852;
  opacity: 0.5;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes topBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}

@keyframes leftBounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}

@media (max-width: 768px) {
  .home-section .home-text,
  .home-section .home-img {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home-section .home-text {
    margin-top: 405px;
    order: 2;
    text-align: center;
  }
  .home-section .full-screen {
    padding: 100px 0;
  }
  .home-img .imgBox {
    position: absolute;
    top: 125px;
    right: 160px;
    max-width: 500px;
    width: 490px;
  }
  .effect-3 {
    margin-left: -60px;
  }

  .effect-4 {
    left: 15%;
  }

  .effect-5 {
    right: 4%;
  }
}

@media (max-width: 575px) {
    .home-section .home-img .imgBox {
        max-width: 380px;
        right: 100px;
    }
    .home-text {
        font-size: 40px;
    }
}
@media (max-width: 428px) {
    .home-section .home-img .imgBox img {
        max-width: 100%;
        height: 300px;
        width: 350px;
        border-radius: 50%;
    }
    .home-section .home-img .imgBox {
        top: 150px;
        right: 45px;
        width: 350px;
    }
    .home-text.active h2 {
        font-size: 30px;
    }
    .home-section .home-text h2 {
        font-size: 30px;
    }
    .home-text.active h1 {
        font-size: 15px;
    }
    .home-section .home-text h1 {
        font-size: 15px;
    }
    
    .effect-5 {
        top: 20%;
    }
    .effect-4 {
        top: 15%;
        left: 10%;
    }
    .effect-3 {
        left: 35%;
        border: 1px solid var(--navy-color);
        width: 180px;
        height: 180px;
    }
}


@media (max-width: 414px) {
    .effect-1 {
      bottom: 14%;
    }
  .effect-4 {
    top: 18%;
    left: 7%;
  }
  .effect-5 {
    top: 14%;
  }
  .home-section .home-text .btn-1 {
    margin-top: 0;
  }
  .home-section .home-text {
    margin-top: 50%;
  }

  .home-section .home-img .imgBox {
      right: 32px;
  }

}

@media (max-width: 375px) {
  .effect-4 {
    top: 60%;
    left: 7%;
    border-top: 30px solid transparent;
    border-left: 30px solid #992243;
    opacity: 0.5;
  }
  .effect-5 {
    top: 55%;
  }
  .effect-2 {
    bottom: 10%;
    opacity: 0.5;
  }
  .effect-3 {
    opacity: 0.5;
  }
  .effect-1 {
    opacity: 0.5;
  }
  .home-section .home-img .imgBox {
    right: 1rem;
    top: 5rem;
  }

  .home-section .home-text .btn-1 {
    margin-top: 0;
  }
  .home-section .home-text {
    margin-top: 90%;
  }
}

@media (max-width: 390px) {
    .home-section .home-img .imgBox {
        top: 12%;
    }
}

@media (max-width: 480px) {
  .effect-1 {
  display: none;
}
  .effect-2 {
  display: none;
}
  .effect-3 {
  display: none;
}
  .effect-4 {
  display: none;
}
  .effect-5 {
  display: none;
}
}