@import "../../styles/color-1.css";

.testimonial-section {
  padding: 80px 0 80px;
  min-height: 100vh;
}

.testimonial-section.active {
  background-color: var(--black-50-dm);
}

.test-header.active {
  color: var(--black-900-dm);
}

.test-header h1,
h3 {
  text-align: center;
  justify-content: center;
}

.test-header h3 {
  color: var(--gold-color);
}

.test-slider {
  border-radius: 10px;
}

.test-box {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
}

.test-item {
  padding: 30px;
  text-align: center;
  position: relative;
  box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
}

.test-item.active {
  background-color: var(--black-50-dm);
  box-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
}

.test-item.active span {
  color: var(--gold-color);
}

.test-item i {
  position: absolute;
  font-size: 30px;
  color: var(--text-black-600);
  opacity: 0.1;
}

.left {
  left: 5px;
  top: 5px;
}
.right {
  right: 5px;
  bottom: 5px;
}

.test-slider {
  height: 450px;
  display: flex;
  position: absolute;
  /* change to -500vh to see */
  left: 0;
  transition: all 1s ease-in-out;
  overflow: hidden;
}

.test-slider-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-item {
    width: 900px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
   
}

.test-img {
  max-width: 70px;
  display: inline-block;
  border-radius: 50%;
  width: 100%;
}

.test-item p {
  font-size: 16px;
  list-style: 26px solid;
  color: var(--text-black-600);
  margin: 0 0 30px;
}

.test-item span {
  display: block;
  margin: 10px 0 0;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-700);
}

.test-slider-nav {
  margin-top: 30px;
  text-align: center;
}

.test-slider-nav span {
  height: 40px;
  width: 40px;
  color: var(--gold-color);
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
  margin: 0 4px;
}

.test-slider-nav span i {
  line-height: 40px;
}

.test-slider-nav span:after {
  border-radius: 50%;
}

@media (max-width: 768px) {
  .test-item {
    flex: 0 0 80%;
    max-width: 80%;
  }
}
@media (max-width: 428px) {
  .test-item {
    flex: 0 0 90%;
    max-width: 90%;
    height: 75%;
  }
}
