@import "../../styles/color-1.css";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.outer-shadow {
    box-shadow: var( --outer-shadow);
}

.hover-in-shadow {
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover {
    box-shadow: var( --outer-shadow-0);
}

.hover-in-shadow:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.hover-in-shadow:after {
    box-shadow: var(--inner-shadow);
}
.header {
    /* background-color: var(--navy-color); */
    padding: 20px 15px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo {
    text-decoration: none;
    font-family: 'Great Vibes', cursive;
}

.header .logo {
    display: inline-block;
    text-align: center;
    line-height: 62px;
    height: 60px;
    width: 60px;
    font-size: 34px;
    color: var(--gold-color);
    border-radius: 50%;
    border: 3px solid var(--gold-color);
    padding-right: 3px;
}


.header .burgerBtn {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease;
}
.header .burgerBtn:after{
    border-radius: 50%;
}
.header .burgerBtn span {
    display: block;
    height: 2px;
    width: 16px;
    background-color: var(--bg-black);
    position: relative;
}
.header .burgerBtn.active span {
    display: block;
    height: 2px;
    width: 16px;
    background-color: var(--gold-color);
    position: relative;
}

.header .burgerBtn span:before,
.header .burgerBtn span:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
}
.header .burgerBtn.active span:before,
.header .burgerBtn.active span:after
 {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--gold-color);
}

.header .burgerBtn span:before {
    top: -6px;
}
.header .burgerBtn span:after {
    top: 6px;
}

.header {
    height: 70px;
}

.toggleTheme {
    position: absolute;
    right: 180px;
    cursor: pointer;
    transition:cursor 0.3s ease;
    border: none;
    border-radius: 50%;
}
.toggleTheme.active {
    position: absolute;
    /* right: 150px; */
    cursor: pointer;
    transition:cursor 0.3s ease;
    border: none;
    border-radius: 50%;
    transition:cursor 5s ease;
}
.toggleTheme:before {
    position: absolute;
    /* right: 350px; */
    cursor: pointer;
    transition:cursor 0.3s ease;
    border: none;
    border-radius: 50%;
}
.toggleTheme:after {
    position: absolute;
    /* right: 350px; */
    cursor: pointer;
    transition:cursor 0.3s ease;
    border: none;
    border-radius: 50%;
}

.toggleTheme button.active {
    background-color: var(--outer-shadow-dm);
    

}
.toggleTheme button.active:after { 
    background-color: var(--outer-shadow-dm);
}
.sun {
    padding: 8px;
    border-radius: 50%;

}
.moon {
    padding: 8px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .toggleTheme.active {
        right: 35px;
    }

    .toggleTheme {
        right: 35px;
    }
}

